 <%= form_for [user, item]  do |f| %>

   <% if item.errors.any? %>
     <div class="alert alert-danger">
       <h4>There are <%= pluralize(item.errors.count, "error") %>.</h4>
       <ul>
         <% item.errors.full_messages.each do |msg| %>
           <li><%= msg %></li>
         <% end %>
       </ul>
     </div>
   <% end %>



        <%= f.label :name, class: "" %>
        <%= f.text_field :name, class: "", placeholder: "Enter item" %>



  <div class="form-group">
        <%= f.submit "Save" %>
</div>

    <% end %>
    